body{
     background-image: url("https://wallpaperplay.com/walls/full/d/4/3/208268.jpg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 100%;
            background-attachment: fixed;
}

h1 {
    text-align: center;
}

#cart {
    display: flex;
    justify-content: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.column {
    width: 18%;
    padding: 25px 0px;
}

#images img {
    display: block;
    height: 100px;
    width: auto;
    margin: 20px;
}

#songs p {
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
}

#artists p {
    font-size: 18px;
    height: 100px;
    margin: 20px;
}

#lengths p {
    font-size: 16px;
    height: 100px;
    margin: 20px;
    text-align: right;
}

#links a {
    display: block;
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
}

#form {
    width: 75%;
    margin: 0 auto 20px auto;
    font-size: 18px;
}

input {
    padding: 5px 10px;
    font-size: 14px;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

h1{
 -webkit-animation: rainbow 5s infinite;       
}

p{
-webkit-animation: rainbow 5s infinite;    
}

@-webkit-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

